
/* Your CSS Code here. */
.holder{display:flex;
		flex-wrap:wrap;
	   justify-content:space-evenly;}
.item{background-color:red;
	  margin:5px;
	 width:100px;
	 height:100px;
	  text-align:center;
	  color:white;
	  font-size:20px;
	  text-transform:uppercase;
	 }